﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Incyte._Default" %>



<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
<link href="futuricohtmlfree/html_css_js/bundle.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="futuricohtmlfree/haml_sass_js/javascripts/vendor/jquery-ui-1.8.18.custom.min.js" type="text/javascript"></script>
    <script src="futuricohtmlfree/haml_sass_js/javascripts/SCF.ui.js" type="text/javascript"></script>
    <script src="futuricohtmlfree/haml_sass_js/javascripts/vendor/chosen.jquery.js" type="text/javascript"></script>
    <script src="futuricohtmlfree/haml_sass_js/javascripts/vendor/jquery.placeholder.js" type="text/javascript"></script>
    <script src="futuricohtmlfree/haml_sass_js/javascripts/SCF.ui/Equalizer.js" type="text/javascript"></script>
    <script src="futuricohtmlfree/haml_sass_js/javascripts/SCF.ui/appreciate.js" type="text/javascript"></script>
    <script src="futuricohtmlfree/haml_sass_js/javascripts/SCF.ui/commutator.js" type="text/javascript"></script>
    <script src="futuricohtmlfree/haml_sass_js/javascripts/SCF.ui/datepicker.js" type="text/javascript"></script>
    <script src="futuricohtmlfree/haml_sass_js/javascripts/SCF.ui/pagination.js" type="text/javascript"></script>
    <script src="futuricohtmlfree/haml_sass_js/javascripts/SCF.ui/scrollbox.js" type="text/javascript"></script>
    <script src="futuricohtmlfree/haml_sass_js/javascripts/SCF.ui/slideshow.js" type="text/javascript"></script>
    <script src="futuricohtmlfree/haml_sass_js/javascripts/SCF.ui/tabbox.js" type="text/javascript"></script>
    <script src="futuricohtmlfree/haml_sass_js/javascripts/SCF.ui/starbar.js" type="text/javascript"></script>
    <script src="futuricohtmlfree/haml_sass_js/javascripts/SCF.ui/checkbox.js" type="text/javascript"></script>
    <script src="futuricohtmlfree/haml_sass_js/javascripts/SCF.ui/radio.js" type="text/javascript"></script>
    <script src="futuricohtmlfree/haml_sass_js/javascripts/SCF.ui/player.js" type="text/javascript"></script>
    <script src="futuricohtmlfree/haml_sass_js/javascripts/SCF.ui/currentlyPlaying.js" type="text/javascript"></script>

</head>
<body>
<form id="form1" runat="server">

<div style="width:600px;height:800px;text-align:center">
    <div class="mbl">
        <div class="login-block">
        <div class="login-ear"></div>
        <h2 class="mbl">sign in</h2>
        <div class="mbm">
            <div class="text-rounded light">
            <input placeholder="login" tabindex="13" type="text">
            </div>
        </div>
        <div class="pts">
            <div class="text-rounded light">
            <input placeholder="password" tabindex="14" type="password">
            </div>
        </div>
        <div class="login-buttons clearfix">
            <div class="left pts">
            <div class="checkbox-light square checked js-checkbox">
                remember
            </div>
            </div>
            <div class="right">
            <input class="button positive" type="submit" value="Sign in ">
            </div>
        </div>
        </div>
    </div>
</div>


</form>
</body>
</html>

